*{
    margin: 0px ;
    padding: 0px;
}

.wait-room-narda{
    width: 100%;
    background: url("./img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
    min-height: 100vh;
    padding: 10px 10px ;
}
.big-narda-stoll{
    width: 100%;
    background: url("./img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
    padding: 0px 0px 20px 0px ;
}

.narda-big{
    display: flex;
    align-items: center;
    justify-content: center;
}

.narda-big-inside{
    width: 550px;
    height: 230px;
    background:linear-gradient(180deg, #572451 0%, rgba(71, 100, 204, 0.64) 100%);
    border-radius: 35px;
    border: 5px solid #d6c062;
    padding: 25px 15px ;
}

.first-narda-div img{
    width: 130px;
}
.first-narda-div{
    color: #cc9b13;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-narda-div p{
    font-size: 20px;
}

.first-narda-div span{
    font-size: 11px;
}

.narda-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.narda-about{
    color: white;
    width: 25px;
    height: 25px;
    background-color: rgb(224, 38, 38);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.veiw-narda-game{
    width: 60px;
    margin: auto;
    height: 20px;
    background-color: #78010b;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.veiw-narda-game i {
    font-size: 15px;
    color: white;
}


.noplay-veiw-narda-game{
    width: 60px;
    margin: auto;
    height: 20px;
    background-color: #696969;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noplay-veiw-narda-game i {
    font-size: 15px;
    color: white;
}

.second-narda-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-narda-div{
    margin-top: 15px;
}

.narda-stol-big{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.narda-stol{
    width: 70px;
    background-color: #d6c062;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 2px;
    cursor: pointer;
    height: 80px;
    font-size: 30px;
}

.narda-stol-outside a{
    text-decoration: none !important;
}

.line-width-narda{
    width: 2px;
    height: 70px;
    background-color: #6d6d6d;
}

.fa-dice-three-narda{
    color: #78010b;
}

.fa-dice-five-narda{
    color: darkgreen;
}
.fa-dice-three-narda1{
    color: #6d6d6d;
}

.narda-stol-outside p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}
.line-narda{
    width: 30%;
    height: 3px;
    background: #d6c062;
}
.line-narda2{
    width: 70%;
    height: 3px;
    background: #696969;
}
.line-narda-big{
    display: flex;
    margin-top: 20px;
}

.second-narda-div-inside{
    display: block;
}

.price-narda{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.price-off{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background:  linear-gradient(180deg, #78010b 0%, #d32433 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.text-narda-info{
    text-align: center;
}

.one-game-narda{
    font-size: 11px;
}
.time-game-narda{
    font-size: 11px;
}
.price-room-narda{
    font-size: 20px;
    margin-bottom: 20px;
}



@media (max-width:550px) {
    .second-narda-div{
        display: block;
}
.narda-big-inside{
    width: 550px;
    height: auto;
    background:linear-gradient(180deg, #572451 0%, rgba(71, 100, 204, 0.64) 100%);
    border-radius: 35px;
    border: 5px solid #d6c062;
    padding: 25px 15px ;
}
.price-room-narda{
    margin-top: 20px ;
}
}

@media (max-width:450px) {
    .narda-logo p{
    display: none;
}

}



.narda-rule-about{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;  
    background: #000000d0;
    top: 0; 
    left: 0;
    backdrop-filter: blur(10px);
}

.text-rule-narda{
    background: linear-gradient( 180deg, #572451 0%, rgba(71, 100, 204, 0.64) 100% );
    color: white;
    width: 320px;
    height: auto;
    padding: 0 30px 30px 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;  
    border-radius: 10px;
    font-size: 15px;
}

.text-rule-narda p{
    line-height: 30px;
}


.rule-classic{
    width: 200px;
    height: 30px;
    border: 1px solid #d6c062;
    border-radius: 10px;
    background:linear-gradient(180deg, #951a46 0%, #196290 100%) ;
    margin: auto;
    margin-top: -10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text-rule-narda button{
    background:  linear-gradient(180deg, #a27114 0%, #f0e274 100%);
    padding: 8px 20px ;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}


.narda-player{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-lose-mute{
    display: flex;
    align-items: center;
    
}
.narda-stol-mute{
    width: 50px;
    height: 50px;
    background-color: #75386f;
    color: rgb(236, 229, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.narda-stol-lose{
    width: 50px;
    height: 50px;
    background-color: #612a5a;
    color: rgb(236, 229, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.narda-stol-luck{
    width: 50px;
    height: 50px;
    background-color: #572451;
    color: rgb(236, 229, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.balance-in-game-narda{
    width: 120px;
    height: 40px;
    border: 1px solid #d6c062;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #951a46;
    margin: auto;
    margin-right: 10px;
}

.df-balance-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-person-narda{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #d6c062;
    overflow: hidden;
}
.img-person-narda img{
    width: 100%;
    height: 100%;
}


.person-who-play-narda{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}
.time-person-narda{
    width: 200px;
    position: relative;  
}
.time-narda{
    margin: auto;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a1a1a1;
    background: linear-gradient(180deg, #951a46 0%, #196290 100%);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.person-narda{
    display: flex;
    gap: 10px;
    background-color: #572451;
    color: white;
    padding: 10px 15px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 10px;
}
.country-lvl-person img{
    width: 15px;
    height: 10px;
}


.country-lvl-person{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    font-family: 'Ubuntu', sans-serif;  
}

.country-lvl-person p{
    font-size: 12px;
}

.name-person-narda{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}


.how-much-think-off{
    width: 220px;
    height: 40px;
    background: linear-gradient(90deg, #968c42 0%, #b89a49 100%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.something-narda{
    width: 30px;
    height: 30px;
    background-color: #951a46;
    border-radius: 5px;
}
.thinds-narda{
    width: 150px;
    height: 30px;
    background-color: #951a46;
    border-radius: 5px;
}


.narda-stol-to-play{
    width: 600px;
    height: 600px;
    margin: auto;
    background: url("./img/narda-stol.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    position: relative;
}

.prosto-div-narda{
    width: 600px;
    margin: auto;
}

.narda-circle{
    position: absolute;
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 50%;
}



.narda-circle-first1{
    bottom: 30px;
    right: 30px;

}
.narda-circle-second1{
    bottom: 30px;
    right: 72px;
}

.narda-circle-thrist1{
    bottom: 30px;
    right: 114px;
}
.narda-circle-fourth1{
    bottom: 30px;
    right: 156px;
}
.narda-circle-fiveth1{
    bottom: 30px;
    right: 199px;
}
.narda-circle-sixth1{
    bottom: 30px;
    right: 241px;
}


.narda-circle-first{
    bottom: 30px;
    left: 30px;
}
.narda-circle-second{
    bottom: 30px;
    left: 73px;
}

.narda-circle-thrist{
    bottom: 30px;
    left: 117px;
}
.narda-circle-fourth{
    bottom: 30px;
    left: 158px;
}
.narda-circle-fiveth{
    bottom: 30px;
    left: 200px;
}
.narda-circle-sixth{
    bottom: 30px;
    left: 242px;
}



.narda-circle-first2{
    top: 30px;
    right: 31px;
}
.narda-circle-second2{
    top: 30px;
    right: 73px;
}

.narda-circle-thrist2{
    top: 30px;
    right: 115px;
}
.narda-circle-fourth2{
    top: 30px;
    right: 157px;
}
.narda-circle-fiveth2{
    top: 30px;
    right: 200px;
}
.narda-circle-sixth2{
    top: 30px;
    right: 242px;
}


.narda-circle-first3{
    top: 30px;
    left: 32px;
}
.narda-circle-second3{
    top: 30px;
    left: 74px;
}

.narda-circle-thrist3{
    top: 30px;
    left: 116px;
}
.narda-circle-fourth3{
    top: 30px;
    left: 158px;
}
.narda-circle-fiveth3{
    top: 30px;
    left: 200px;
}
.narda-circle-sixth3{
    top: 30px;
    left: 243px;
}

.narda-shashka{
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #303030 0%, #000 100% );
    border-radius: 50%; 
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.narda-shashka-first{
    top: 30px;
    right: 30px;
}
.narda-shashka-second{
    top: 40px;
    right: 30px;
}
.narda-shashka-thirth{
    top: 50px;
    right: 30px;
}
.narda-shashka-fourth{
    top: 60px;
    right: 30px; 
}
.narda-shashka-fivth{
    top: 70px;
    right: 30px;    
}
.narda-shashka-sixth{
    top: 80px;
    right: 30px;    
}
.narda-shashka-seventh{
    top: 90px;
    right: 30px;    
}
.narda-shashka-eighth{
    top: 100px;
    right: 30px;    
}
.narda-shashka-ninth{
    top: 110px;
    right: 30px;    
}
.narda-shashka-tenth{
    top: 120px;
    right: 30px;    
}
.narda-shashka-eleventh{
    top: 130px;
    right: 30px;    
}
.narda-shashka-twelfth{
    top: 140px;
    right: 30px;    
}
.narda-shashka-thirteenth{
    top: 150px;
    right: 30px;    
}
.narda-shashka-fourteenth{
    top: 160px;
    right: 30px;    
}
.narda-shashka-fifteenth{
    top: 170px;
    right: 30px;    
}


.narda-shashka1{
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #c7c7c7 0%, #fff 100% );
    border: 1px solid #000 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}


.narda-shashka-first1{
    bottom: 30px;
    left: 30px;
}
.narda-shashka-second1{
    bottom: 40px;
    left: 30px;
}
.narda-shashka-thirth1{
    bottom: 50px;
    left: 30px;
}
.narda-shashka-fourth1{
    bottom: 60px;
    left: 30px; 
}
.narda-shashka-fivth1{
    bottom: 70px;
    left: 30px;    
}
.narda-shashka-sixth1{
    bottom: 80px;
    left: 30px;    
}
.narda-shashka-seventh1{
    bottom: 90px;
    left: 30px;    
}
.narda-shashka-eighth1{
    bottom: 100px;
    left: 30px;    
}
.narda-shashka-ninth1{
    bottom: 110px;
    left: 30px;    
}
.narda-shashka-tenth1{
    bottom: 120px;
    left: 30px;    
}
.narda-shashka-eleventh1{
    bottom: 130px;
    left: 30px;    
}
.narda-shashka-twelfth1{
    bottom: 140px;
    left: 30px;    
}
.narda-shashka-thirteenth1{
    bottom: 150px;
    left: 30px;    
}
.narda-shashka-fourteenth1{
    bottom: 160px;
    left: 30px;    
}
.narda-shashka-fifteenth1{
    bottom: 170px;
    left: 30px;    
}

 @media (max-width:550px) {
    .prosto-div-narda{
        width: 400px !important;
    }
    .narda-stol-to-play{
        width: 100% !important;
        height: 400px !important;
        background: url("./img/narda-stol.jpg");
        background-repeat: no-repeat;
        background-size: 100% !important;
        position: relative;
    }

    .how-much-think-off{
        width: 150px;
        height: 40px;
        background: linear-gradient(90deg, #968c42 0%, #b89a49 100%);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .something-narda{
        width: 20px;
        height: 20px;
        background-color: #951a46;
        border-radius: 5px;
    }
    .thinds-narda{
        width: 100px;
        height: 20px;
        background-color: #951a46;
        border-radius: 5px;
    }

    .img-person-narda{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid #d6c062;
        overflow: hidden;
    }
    .img-person-narda img{
        width: 100%;
        height: 100%;
    }
    .name-person-narda{
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .person-narda{
        display: flex;
        gap: 10px;
        background-color: #572451;
        color: white;
        padding: 10px 15px;
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 10px;
    }
    .person-who-play-narda, .person-who-play-narda2{
        margin-top: 20px;
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
    .time-person-narda{
        width: 180px;
        position: relative;
        margin-top: -10px;  
    }
    .how-much-think-off2{
        width: 150px !important;
        height: 40px;
        background: linear-gradient(90deg, #968c42 0%, #b89a49 100%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: -20px;
    }
    
    .prosto-div-narda{
        width: 98%;
        margin: auto;
    }

    .narda-circle{
        position: absolute;
        width: 28px !important;
        height: 28px !important;
        background-color: none;
        border-radius: 50%;
    }

    .narda-circle-first1{
        bottom: 20px !important;
        right: 20px !important;
    }
    .narda-circle-second1{
        bottom: 20px !important;
        right: 47px !important;
    }
    
    .narda-circle-thrist1{
        bottom: 20px !important;
        right: 75px !important; 
    }
    .narda-circle-fourth1{
        bottom: 20px !important;
        right: 104px !important;
    }
    .narda-circle-fiveth1{
        bottom: 20px !important;
        right: 132px !important;
    }
    .narda-circle-sixth1{
        bottom: 20px !important;
        right: 160px !important;
    }
    
    
    .narda-circle-first{
        bottom: 20px !important;
        left: 20px !important;
    }
    .narda-circle-second{
        bottom: 20px !important;
        left: 48px !important;
    }
    
    .narda-circle-thrist{
        bottom: 20px !important;
        left: 76px !important;
    }
    .narda-circle-fourth{
        bottom: 20px !important;
        left: 105px !important;
    }
    .narda-circle-fiveth{
        bottom: 20px !important;
        left: 134px !important;
    }
    .narda-circle-sixth{
        bottom: 20px !important;
        left: 162px !important;
    }
    
    
    
    .narda-circle-first2{
        top: 20px !important;
        right: 20px !important;
    }
    .narda-circle-second2{
        top: 20px !important;
        right: 47px !important;
    }
    
    .narda-circle-thrist2{
        top: 20px !important;
        right: 76px !important;
    }
    .narda-circle-fourth2{
        top: 20px !important;
        right: 104px !important;
    }
    .narda-circle-fiveth2{
        top: 20px !important;
        right: 132px !important;
    }
    .narda-circle-sixth2{
        top: 20px !important;
        right: 160px !important;
    }
    
    
    .narda-circle-first3{
        top: 20px !important;
        left: 20px !important;
    }
    .narda-circle-second3{
        top: 20px !important;
        left: 48px !important;
    }
    
    .narda-circle-thrist3{
        top: 20px !important;
        left: 76px !important;
    }
    .narda-circle-fourth3{
        top: 20px !important;
        left: 105px !important;
    }
    .narda-circle-fiveth3{
        top: 20px !important;
        left: 133px !important;
    }
    .narda-circle-sixth3{
        top: 20px !important;
        left: 160px !important;
    }

    .narda-stol-mute{
        width: 30px;
        height: 30px;
    background-color: #75386f;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    .narda-stol-lose{
        width: 30px;
        height: 30px;
        background-color: #612a5a;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    .narda-stol-luck{
        width: 30px;
        height: 30px;
        background-color: #572451;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    
    .narda-shashka{
        position: absolute;
        width: 28px !important;
        height: 28px !important;
        background: linear-gradient(180deg, #303030 0%, #000 100% );
        border-radius: 50%;
        border: 1px solid #fff;
    }
    
    .narda-shashka-first{
        top: 20px !important;
        right: 20px !important;
    }
    .narda-shashka-second{
        top: 30px !important;
        right: 20px !important;
    }
    .narda-shashka-thirth{
        top: 40px !important;
        right: 20px !important;
    }
    .narda-shashka-fourth{
        top: 50px !important;
        right: 20px !important;
    }
    .narda-shashka-fivth{
        top: 60px !important;
        right: 20px !important;   
    }
    .narda-shashka-sixth{
        top: 70px !important;
        right: 20px !important;   
    }
    .narda-shashka-seventh{
        top: 80px !important;
        right: 20px !important;   
    }
    .narda-shashka-eighth{
        top: 90px !important;
        right: 20px !important;   
    }
    .narda-shashka-ninth{
        top: 100px !important;
        right: 20px !important;    
    }
    .narda-shashka-tenth{
        top: 110px !important;
        right: 20px !important;    
    }
    .narda-shashka-eleventh{
        top: 120px !important;
        right: 20px !important;  
    }
    .narda-shashka-twelfth{
        top: 130px !important;
        right: 20px !important;   
    }
    .narda-shashka-thirteenth{
        top: 140px !important;
        right: 20px !important;  
    }
    .narda-shashka-fourteenth{
        top: 150px !important;
        right: 20px !important;    
    }
    .narda-shashka-fifteenth{
        top: 160px !important;
        right: 20px !important;    
    }
    
    
    .narda-shashka1{
        position: absolute;
        width: 28px !important;
        height: 28px !important;   
        background: linear-gradient(180deg, #c7c7c7 0%, #fff 100% );
        border: 1px solid #000 ;
        border-radius: 50%;
    }
    
    .narda-shashka-first1{
        bottom: 20px !important;
        left: 20px !important;
    }
    .narda-shashka-second1{
        bottom: 30px !important;
        left: 20px !important;
    }
    .narda-shashka-thirth1{
        bottom: 40px !important;
        left: 20px !important;
    }
    .narda-shashka-fourth1{
        bottom: 50px !important;
        left: 20px !important; 
    }
    .narda-shashka-fivth1{
        bottom: 60px !important;
        left: 20px !important;  
    }
    .narda-shashka-sixth1{
        bottom: 70px !important;
        left: 20px !important;   
    }
    .narda-shashka-seventh1{
        bottom: 80px !important;
        left: 20px !important;   
    }
    .narda-shashka-eighth1{
        bottom: 90px !important;
        left: 20px !important;   
    }
    .narda-shashka-ninth1{
        bottom: 100px !important;
        left: 20px !important;   
    }
    .narda-shashka-tenth1{
        bottom: 110px !important;
        left: 20px !important;    
    }
    .narda-shashka-eleventh1{
        bottom: 120px !important;
        left: 20px !important;    
    }
    .narda-shashka-twelfth1{
        bottom: 130px !important;
        left: 20px !important;    
    }
    .narda-shashka-thirteenth1{
        bottom: 140px !important;
        left: 20px !important;    
    }
    .narda-shashka-fourteenth1{
        bottom: 150px !important;
        left: 20px !important;    
    }
    .narda-shashka-fifteenth1{
        bottom: 160px !important;
        left: 20px !important;    
    }
} 

@media (max-width:650px) {
    .narda-stol-to-play{
        width: 500px;
        height: 500px;
        margin: auto;
        background: url("./img/narda-stol.jpg");
        background-repeat: no-repeat;
        background-size: 500px;
        position: relative;
    }
    
    .prosto-div-narda{
        width: 500px;
        margin: auto;
    }
    
    .narda-circle{
        position: absolute;
        width: 35px;
        height: 35px;
        background: none;
        border-radius: 50%;
    }
    
    .narda-circle-first1{
        bottom: 25px;
        right: 24px;
    
    }
    .narda-circle-second1{
        bottom: 25px;
        right: 59px;
    }
    
    .narda-circle-thrist1{
        bottom: 25px;
        right: 94px;
    }
    .narda-circle-fourth1{
        bottom: 25px;
        right: 129px;
    }
    .narda-circle-fiveth1{
        bottom: 25px;
        right: 165px;
    }
    .narda-circle-sixth1{
        bottom: 25px;
        right: 200px;
    }
    
    
    .narda-circle-first{
        bottom: 25px;
        left: 25px;
    }
    .narda-circle-second{
        bottom: 25px;
        left: 62px;
    }
    
    .narda-circle-thrist{
        bottom: 25px;
        left: 96px;
    }
    .narda-circle-fourth{
        bottom: 25px;
        left: 131px;
    }
    .narda-circle-fiveth{
        bottom: 25px;
        left: 167px;
    }
    .narda-circle-sixth{
        bottom: 25px;
        left: 202px;
    }
    
    
    
    .narda-circle-first2{
        top: 25px;
        right: 25px;
    }
    .narda-circle-second2{
        top: 25px;
        right: 60px;
    }
    
    .narda-circle-thrist2{
        top: 25px;
        right: 95px;
    }
    .narda-circle-fourth2{
        top: 25px;
        right: 130px;
    }
    .narda-circle-fiveth2{
        top: 25px;
        right: 165px;
    }
    .narda-circle-sixth2{
        top: 25px;
        right: 200px;
    }
    
    
    .narda-circle-first3{
        top: 25px;
        left: 25px;
    }
    .narda-circle-second3{
        top: 25px;
        left: 61px;
    }
    
    .narda-circle-thrist3{
        top: 25px;
        left: 96px;
    }
    .narda-circle-fourth3{
        top: 25px;
        left: 131px;
    }
    .narda-circle-fiveth3{
        top: 25px;
        left: 166px;
    }
    .narda-circle-sixth3{
        top: 25px;
        left: 201px;
    }


    .narda-shashka{
        position: absolute;
        width: 35px;
        height: 35px;
        background: linear-gradient(180deg, #303030 0%, #000 100% );
        border-radius: 50%;
        font-size: 11px;
        border: 1px solid #fff;
    }
    
    .narda-shashka-first{
        top: 25px;
        right: 25px;
    }
    .narda-shashka-second{
        top: 35px;
        right: 25px;
    }
    .narda-shashka-thirth{
        top: 45px;
        right: 25px;
    }
    .narda-shashka-fourth{
        top: 55px;
        right: 25px;
    }
    .narda-shashka-fivth{
        top: 65px;
        right: 25px;    
    }
    .narda-shashka-sixth{
        top: 75px;
        right: 25px;    
    }
    .narda-shashka-seventh{
        top: 85px;
        right: 25px; 
    }
    .narda-shashka-eighth{
        top: 95px;
        right: 25px;  
    }
    .narda-shashka-ninth{
        top: 105px;
        right: 25px;   
    }
    .narda-shashka-tenth{
        top: 115px;
        right: 25px;   
    }
    .narda-shashka-eleventh{
        top: 125px;
        right: 25px;  
    }
    .narda-shashka-twelfth{
        top: 135px;
        right: 25px; 
    }
    .narda-shashka-thirteenth{
        top: 145px;
        right: 25px;    
    }
    .narda-shashka-fourteenth{
        top: 155px;
        right: 25px;    
    }
    .narda-shashka-fifteenth{
        top: 165px;
        right: 25px;    
    }
    
    
    .narda-shashka1{
        position: absolute;
        width: 35px;
        height: 35px;
        background: linear-gradient(180deg, #c7c7c7 0%, #fff 100% );
        border: 1px solid #000 ;
        font-size: 11px;
        border-radius: 50%;
    }
    
    .narda-shashka-first1{
        bottom: 25px;
        left: 25px;
    }
    .narda-shashka-second1{
        bottom: 35px;
        left: 25px;
    }
    .narda-shashka-thirth1{
        bottom: 45px;
        left: 25px;
    }
    .narda-shashka-fourth1{
        bottom: 55px;
        left: 25px;
    }
    .narda-shashka-fivth1{
        bottom: 65px;
        left: 25px;   
    }
    .narda-shashka-sixth1{
        bottom: 75px;
        left: 25px;   
    }
    .narda-shashka-seventh1{
        bottom: 85px;
        left: 25px;   
    }
    .narda-shashka-eighth1{
        bottom: 95px;
        left: 25px;   
    }
    .narda-shashka-ninth1{
        bottom: 105px;
        left: 25px;   
    }
    .narda-shashka-tenth1{
        bottom: 115px;
        left: 25px;   
    }
    .narda-shashka-eleventh1{
        bottom: 125px;
        left: 25px;   
    }
    .narda-shashka-twelfth1{
        bottom: 135px;
        left: 25px;
    }
    .narda-shashka-thirteenth1{
        bottom: 145px;
        left: 25px;  
    }
    .narda-shashka-fourteenth1{
        bottom: 155px;
        left: 25px;  
    }
    .narda-shashka-fifteenth1{
        bottom: 165px;
        left: 25px;   
    }
}


@media (max-width:400px) {
    .narda-stol-mute{
        width: 40px;
        height: 40px;
        background-color: #75386f;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .narda-stol-lose{
        width: 40px;
        height: 40px;
        background-color: #612a5a;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .narda-stol-luck{
        width: 40px;
        height: 40px;
        background-color: #572451;
        color: rgb(236, 229, 189);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .narda-stol-to-play{
        width: 100% !important;
        height: 400px !important;
        background: none;
        background-repeat: no-repeat;
        background-size: 100% !important;
        position: relative;
    }
    .narda-stol-to-play img{
        width:  100% !important;
        height: 500px;
        display: block !important;
    }
    .prosto-div-narda{
        width: 380px !important;
        margin: auto;
    }
    .narda-stol-to-play{
        height: 350px !important;
    }

    .person-who-play-narda2{
        margin-top: 170px !important; 
    }

    .narda-circle{
        position: absolute;
        width: 25px !important;
        height: 25px !important;
        background-color: none;
        border-radius: 50%;
    }
    
    .narda-circle-first1{
        bottom: 0px !important;
        right: 15px !important;
    
    }
    .narda-circle-second1{
        bottom: 0px !important;
        right: 40px !important;
    }
    
    .narda-circle-thrist1{
        bottom: 0px !important;
        right: 65px !important;
    }
    .narda-circle-fourth1{
        bottom: 0px !important;
        right: 90px !important;
    }
    .narda-circle-fiveth1{
        bottom: 0px !important;
        right: 115px !important;
    }
    .narda-circle-sixth1{
        bottom: 0px !important;
        right: 140px !important;
    }
    
    
    .narda-circle-first{
        bottom: 0px !important;
        left: 18px !important;
    }
    .narda-circle-second{
        bottom: 0px !important;
        left: 42px !important;
    }
    
    .narda-circle-thrist{
        bottom: 0px !important;
        left: 67px !important;
    }
    .narda-circle-fourth{
        bottom: 0px !important;
        left: 92px !important;
    }
    .narda-circle-fiveth{
        bottom: 0px !important;
        left: 117px !important;
    }
    .narda-circle-sixth{
        bottom: 0px !important;
        left: 142px !important;
    }
    
    
    
    .narda-circle-first2{
        top: 13px;
        right: 17px !important;
    }
    .narda-circle-second2{
        top: 13px;
        right: 42px !important;
    }
    
    .narda-circle-thrist2{
        top: 13px;
        right: 67px !important;
    }
    .narda-circle-fourth2{
        top: 13px;
        right: 92px !important;
    }
    .narda-circle-fiveth2{
        top: 13px;
        right: 116px !important;
    }
    .narda-circle-sixth2{
        top: 13px;
        right: 140px !important;
    }
    
    
    .narda-circle-first3{
        top: 13px;
        left: 18px !important;
    }
    .narda-circle-second3{
        top: 13px;
        left: 42px !important;
    }
    
    .narda-circle-thrist3{
        top: 13px;
        left: 67px !important;
    }
    .narda-circle-fourth3{
        top: 13px;
        left: 92px !important;
    }
    .narda-circle-fiveth3{
        top: 13px;
        left: 117px !important;
    }
    .narda-circle-sixth3{
        top: 13px;
        left: 141px !important;
    }


    .narda-shashka{
        position: absolute;
        width: 25px !important;
        height: 25px !important;
        background: linear-gradient(180deg, #303030 0%, #000 100% );
        font-size: 12px !important;
        border-radius: 50%;
        border: 1px solid #fff;
    }
    
    .narda-shashka-first{
        top: 12px;
        right: 16px !important;
    }
    .narda-shashka-second{
        top: 22px;
        right: 16px !important;
    }
    .narda-shashka-thirth{
        top: 32px;
        right: 16px !important;
    }
    .narda-shashka-fourth{
        top: 42px;
        right: 16px !important; 
    }
    .narda-shashka-fivth{
        top: 52px;
        right: 16px !important;    
    }
    .narda-shashka-sixth{
        top: 62px;
        right: 16px !important;    
    }
    .narda-shashka-seventh{
        top: 72px;
        right: 16px !important;    
    }
    .narda-shashka-eighth{
        top: 82px;
        right: 16px !important;    
    }
    .narda-shashka-ninth{
        top: 92px;
        right: 16px !important;    
    }
    .narda-shashka-tenth{
        top: 102px;
        right: 16px !important;    
    }
    .narda-shashka-eleventh{
        top: 112px;
        right: 16px !important;    
    }
    .narda-shashka-twelfth{
        top: 122px;
        right: 16px !important;    
    }
    .narda-shashka-thirteenth{
        top: 132px;
        right: 16px !important;    
    }
    .narda-shashka-fourteenth{
        top: 142px;
        right: 16px !important;    
    }
    .narda-shashka-fifteenth{
        top: 152px;
        right: 16px !important;    
    }
    
    
    .narda-shashka1{
        position: absolute;
        width: 25px !important;
        height: 25px !important;
        background: linear-gradient(180deg, #c7c7c7 0%, #fff 100% );
        border: 1px solid #000 ;
        border-radius: 50%;
        font-size: 12px !important;
    }
    
    .narda-shashka-first1{
        bottom: -125px !important;
        left: 17px !important;
    }
    .narda-shashka-second1{
        bottom: -115px !important;
        left: 17px !important;
    }
    .narda-shashka-thirth1{
        bottom: -105px !important;
        left: 17px !important;
    }
    .narda-shashka-fourth1{
        bottom: -95px !important;
        left: 17px !important; 
    }
    .narda-shashka-fivth1{
        bottom: -85px !important;
        left: 17px !important; 
    }
    .narda-shashka-sixth1{
        bottom: -75px !important;
        left: 17px !important;   
    }
    .narda-shashka-seventh1{
        bottom: -65px !important;
        left: 17px !important;   
    }
    .narda-shashka-eighth1{
        bottom: -55px !important;
        left: 17px !important;   
    }
    .narda-shashka-ninth1{
        bottom: -45px !important;
        left: 17px !important;   
    }
    .narda-shashka-tenth1{
        bottom: -35px !important;
        left: 17px !important;    
    }
    .narda-shashka-eleventh1{
        bottom: -25px !important;
        left: 17px !important;  
    }
    .narda-shashka-twelfth1{
        bottom: -15px !important;
        left: 17px !important;   
    }
    .narda-shashka-thirteenth1{
        bottom: -5px !important;
        left: 17px !important;  
    }
    .narda-shashka-fourteenth1{
        bottom:  5px !important;
        left: 17px !important;   
    }
    .narda-shashka-fifteenth1{
        bottom: 15px !important;
        left: 17px !important;  
    }
}

@media (max-width:380px) {
    .prosto-div-narda{
        width: 360px !important;
    }
}

@media (max-width:360px) {
    .prosto-div-narda{
        width: 340px !important;
    }
}

@media (max-width:340px) {
    .emotion-narda1{
        width: 30px !important;
        height: 30px !important;
        font-size: 14px !important;
    }
    .emotion-narda2{
        width: 30px !important;
        height: 30px !important;
        font-size: 14px !important;
    }
    .prosto-div-narda{
        width: 320px !important;
    }
    .person-who-play-narda{
        gap: 4px !important;
    }
    .how-much-think-off{
        width: 120px;
    }
    .thinds-narda{
        width: 80px;
        height: 20px;
    }
    .something-narda{
        width: 20px;
        height: 20px;
    }
    .time-narda{
        width: 80px;
        margin-left: 35px;
    }
    .person-narda{
        width: 120px;
    }


    .person-who-play-narda2{
        gap: 40px !important;
    }
    .how-much-think-off2{
        width: 120px !important;
    }
    .thinds-narda{
        width: 80px !important  ;
        height: 20px !important;
    }
    .something-narda{
        width: 20px !important;
        height: 20px !important;
    }
    .time-narda{
        width: 80px !important;
        margin-left: 35px !important;
    }
    .person-narda{
        width: 120px !important;
    }

emotion-narda1



}


.narda-stol-to-play img{
    display: none;
}

.person-who-play-narda2{
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.how-much-think-off2{
    width: 220px;
    height: 40px;
    background: linear-gradient(90deg, #b89a49 0%, #968c42 100%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: -20px;
}

.emotion-narda{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.emotion-narda1{
    width: 40px;
    height: 40px;
    background-color: #572451;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.emotion-narda2{
    width: 40px;
    height: 40px;
    background-color: #572451;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}



.chat-narda-open{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000000c7;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.chat-narda{
    background-color: #572451;
    width: 400px;
    height: 500px;
    padding: 5px 2px;
    color: #fff;
    border-radius: 10px;
}

.narda-chat-send{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.narda-chat-send input{
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 10px;
}

.button-send-narda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
    background-color: #196290;
    border-radius: 10px;
}

.text-after-send-narda{
    height: 450px;
    overflow-y: scroll;
}

.text-after-send-narda::-webkit-scrollbar-track {
    border: 1px solid #f0e274;
    padding: 2px 0;
    background-color: #572451;
    border-radius: 10px;
  }
  .text-after-send-narda::-webkit-scrollbar {
    width: 10px;
  }
  
  .text-after-send-narda::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #951a46;
    border: 1px solid #f0e274;
    border-radius: 10px;
  }

.text-after-send-narda p{
    background-color: #951a46;
    padding: 5px 10px ;
    border-radius: 10px;
    margin-top: 20px; 
    margin-left: 10px;   
    width: 350px;
}

.close-chat-mark{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width:500px) {
    .chat-narda{
        background-color: #572451;
        width: 350px;
        height: 500px;
        padding: 5px 2px;
        color: #fff;
        border-radius: 10px;
    }
    .text-after-send-narda p{
        background-color: #951a46;
        padding: 5px 10px ;
        border-radius: 10px;
        margin-top: 20px; 
        margin-left: 10px;   
        width: 300px;
    }
}

@media (max-width:430px) {
    .chat-narda{
        background-color: #572451;
        width: 300px;
        height: 400px;
        padding: 5px 2px;
        color: #fff;
        border-radius: 10px;
    }
    .text-after-send-narda p{
        background-color: #951a46;
        padding: 5px 10px ;
        border-radius: 10px;
        margin-top: 20px; 
        margin-left: 10px;   
        width: 250px;
    }
    .text-after-send-narda{
        height: 350px;
        overflow-y: scroll;
    }
}



.emotion-narda-open{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000000c7;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;  
}

.emotion-narda-center{
    background-color: #572451;
    width: 400px;
    height: 500px;
    padding: 5px 2px;
    color: #d6c062;
    font-size: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 50px ;
}

.emotion-div-narda{
    width: 90px; 
}


@media (max-width:500px) {
    .emotion-narda-center{
        background-color: #572451;
        width: 300px;
        height: 450px;
        padding: 5px 2px;
        color: #d6c062;
        font-size: 60px;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        padding: 10px 0px ;
    }
    
    .emotion-div-narda{
        width: 70px;
        margin: auto;
    }
}

@media (max-width: 430px) {
    .emotion-narda-center{
        background-color: #572451;
        width: 250px;
        height: 400px;
        padding: 5px 2px;
        color: #d6c062;
        font-size: 50px;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        padding: 10px 0px ;
    }
    
    .emotion-div-narda{
        width: 60px;
        margin: auto;
    }
}